<template>
  <div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <router-link to="/" class="navbar-brand">Combined-Vue-Nodejs</router-link>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link
            to="/tutorials"
            class="nav-link"
            v-if="$store.state.token != ''"
            >Tutorials</router-link
          >
        </li>
        
        <li class="nav-item">
          <router-link
            to="/add"
            class="nav-link"
            v-if="$store.state.token != ''"
            >Add</router-link
          >
        </li>

        <li class="nav-item">
          <router-link
            to="/logout"
            class="nav-link"
            v-if="$store.state.token != ''"
            >Logout</router-link
          >
        </li>

        <li class="nav-item">
          <router-link
            to="/register"
            class="nav-link"
            v-if="$store.state.token == ''"
            >Register</router-link
          >
        </li>

        <li class="nav-item">
          <router-link
            to="/login"
            class="nav-link"
            v-if="$store.state.token == ''"
            >Login</router-link
          >
        </li>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "TopNav",
};
</script>