<template>
  <div id="app">
<top-nav />

    <div class="container mt-3">
      <router-view />
    </div>
  </div>
</template>

<script>
import TopNav from "./components/TopNav.vue"
export default {
  name: "app",
  components: {
    TopNav
  }
};
</script>